* {
    margin: 0;
    padding: 0;
}

/* Shared style */

.container {
    width: 80%;
    max-width: 1320px;
    margin: 0 auto;
    overflow: hidden;
}
section {
    width: 100%;
}
.paragraph {
    font-family: inter;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.60);
}
.heading {
    color: #070211;
    font-family: merriweather;
    font-size: 48px;
    font-weight: 900;
    margin: 20px 0;
}
.txt-color {
    color: #F00;
}
.btn {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: 0.5s;
}

/* Banner Section */

.banner-area {
    width: 100%;
    height: 600px;
    margin: 50px 0;
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.banner-shadow {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.908), transparent 100%);
    border-radius: 16px;
}
.banner-text {
    width: 632px;
    text-align: center;
    color: #ffffff;
}
.banner-text p {
    font-family: merriweather;
    font-size: 32px;
}
.banner-text h1 {
    font-family: merriweather;
    font-size: 72px;
}

/* Discount Section */

.discount-content {
    width: 805px;
    margin: 70px auto;
    text-align: center;
    font-family: inter;
}
.discount-content h1 {
    font-family: inter;
    font-size: 88px;
    font-weight: 700;
    color: #F00;
    margin-bottom: 48px;
}
.discount-content p {
    font-size: 24px;
    color: #F00;
    margin-bottom: 16px;
}
.discount-content h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}
.discount-content img {
    width: 850px;
    height: 550px;
}

/* Party Section */

.party-area {
    width: 100%;
    height: 600px;
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 50px 0;
}
.party-shadow {
    width: 100%;
    height: 600px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.93) 10%, transparent);
    overflow: hidden;
    display: flex;
}
.party-text {
    width: 675px;
    margin: 126px 25px 126px 126px;
    color: #ffffff;
}
.party-text h1 {
    font-family: merriweather;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 7.04px;
}
.party-text p {
    margin: 24px 0 48px 0;
    color: rgba(255, 255, 255, 0.80);
}
.party-text button {
    text-decoration: none;
    color: #ffffff;
    font-family: inter;
    font-size: 20px;
    font-weight: 700;
    margin-left: 40px;
    background: transparent;

}
.party-image {
    margin: 80px 126px 126px 0;
}
.party-image img {
    width: 320px;
    height: 465px;
}

/* Venue Area */

.venue-card {
    width: 100%;
    margin: 70px 0;
    height: 485px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    font-family: inter;
    overflow: hidden;
}
.venue-text {
    width: 550px;
    text-align: center;
    line-height: 56px;
    margin: 110px auto;
}
.venue-text button {
    margin-top: 50px;
    background-color: #F00;
}

/* Offer Area */

.offer-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
    color: rgba(7, 2, 17, 0.60);
}
.best-offer, .year {
    width: 30%;
}
.circle-img {
    width: 350px;
    height: 350px;
    border: 10px solid #F00;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-img img {
    width: 300px;
    height: 300px;
    transition: 0.5s;
}
.year h1 {
    margin-top: 85px;
}
.year p {
    width: 270px;
}
.year img {
    width: 120px;
    height: 120px;
    margin-top: 45px;
}

/* Holiday Area */

.holiday-content {
    margin: 50px 0;
}
.holiday-text {
    width: 1050px;
    text-align: center;
    margin: auto;
}
.best-text {
    color: #F00;
    font-family: inter;
    font-size: 24px;
    font-weight: 500;
}
.new-year {
    color: #F00;
    font-family: inter;
    font-size: 48px;
    font-weight: 700;
}
.functional {
    color: #070211;
    font-family: inter;
    font-size: 24px;
    font-weight: 500;
}
.sale-text {
    text-align: center;
    font-family: merriweather;
    font-size: 72px;
    font-weight: 900;
}
.holiday-img {
    margin-top: 65px;
}
.main-image {
    width: 420px;
    height: 425px;
    background-image: url('../resources/Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.main-image img {
    position: absolute;
    top: 70px;
    right: 64%;
    transition: 0.5s;
}
.main-image img:hover {
    transform: rotateY(360deg);
}
.holiday-discount {
    display: flex;
    justify-content: space-between;
}
.bottom-image {
    width: 100%;
    height: 230px;
    background-color: #F00;
    border-radius: 16px 0px 16px 16px;
    position: relative;
}
.bottom-image img {
    width: 740px;
    height: 635;
    position: absolute;
    bottom: 20px;
}

/* Portfolio Area */

.portfolio-content {
    margin: 70px 0;
}
.portfolio-text {
    width: 895px;
    margin-bottom: 50px;
}
.gifts {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.portfolio-text h1 {
    margin: 16px 0 22px 0;
}
.items {
    width: 100%;
}
.row {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}
.product {
    width: 32%;
    height: 450px;
    border-radius: 16px;
    overflow: hidden;
    transition: 0.5s;
}
.product {
    display: flex;
    align-items: center;
    justify-content: center;
}
.product img {
    width: 100%;
    height: 100%;
    transition: width 0.5s, height 0.5s;
}

/* Subscribe Area */

.subscribe-content {
    width: 100%;
    height: 620px;
    margin: 50px 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    overflow: hidden;
}
.subscribe-text {
    width: 900px;
    margin: auto;
}
.subscribe-text-content {
    margin: 80px 0 50px 0;
    text-align: center;
}
.subscribe-text img {
    width: 150px;
    height: 150px;
}
.subscribe-text h1 {
    margin: 40px 0 25px 0;
}
.subscribe-form {
    width: 650px;
    margin: auto;
}
.subscribe-form input[type='text'] {
    width: 410px;
    height: 60px;
    border-radius: 50px 0 0 50px;
    border: 0;
    outline: 0;
    padding-left: 30px;
}
.subscribe-form input[type='submit'] {
    width: 210px;
    height: 60px;
    border-radius: 0 50px 50px 0;
    margin-left: -5px;
    background-color: #F00;
    color: #ffffff;
    border: 0;
    color: #FFF;
    text-align: center;
    font-family: inter;
    font-size: 20px;
    font-weight: 600;
}

/* Contact Area */

footer {
    background-color: #070211;
    color: #ffffff;
    font-family: inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
footer a {
    text-decoration: none;
    color: #ffffff;
}
.contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 120px 0 50px 0;
}
.address {
    width: 375px;
}
.contact-content {
    width: 350px;
}
.phone {
    display: flex;
}
.phone img {
    width: 25px;
    height: 25px;
    margin: 10px 16px 0 0;
}
.web {
    display: flex;
}
.web img {
    width: 25px;
    height: 25px;
    margin: 10px 16px 0 0;
}
.social-media {
    width: 100%;
}
.social-content {
    width: 400px;
    height: 160px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-icon {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
hr {
    border: 1px solid rgba(255, 255, 255, 0.15);
}
.rights {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 120px 0;
}

/* Hover Effect */

.party-text button:hover {
    border: 1px solid #fff;
}
.venue-text button:hover {
    background-color: transparent;
    border: 1px solid #F00;
    color: #F00;
}
.circle-img img:hover {
    width: 100%;
    height: 100%;
}
.product:hover.product img {
    width: 115%;
    height: 500px;
}
.social-content img:hover {
    width: 80px;
    height: 80px;
    transform: rotate(360deg);
    transition: 0.6s;
}